@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$primary: #010101;
$primary-2: #5C0F8B;
$secondary: #F1F1F1;
$secondary-2: #FF4713;
$success: #1A9926;
$info: #30BCED;
$warning: #FFDA6B;
$danger: #FF375F;
$light: #FFFFFF;
$dark: #010101;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "secondary-2": $secondary-2,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);


@import "../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: 'Montserrat' !important;
}

.text-secondary-2 {
    color: $secondary-2;
}

.btn-primary-2 {
    background-color: $primary-2;
    color: $light;
}

.btn-outline-secondary:hover {
    background-color: $secondary-2;
    border-color: $secondary-2;
    color: $light;
}

.btn-check:focus+.btn-outline-secondary,
.btn-outline-secondary:focus {
    box-shadow: none;
    background-color: $secondary-2;
    border: none;
}

.btn svg {
    margin-right: .5em;
    margin-left: -.5em;
}

/*********************************************************************************
******************************* navbar *******************************************
**********************************************************************************/

.navbar.bg-dark {
    background-color: transparent !important;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link,
.navbar-nav .btn {
    font-size: .7em;
    font-weight: bold;
    margin: auto 1em;
}

.navbar-dark .navbar-nav .nav-link {
    color: $secondary-2;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    padding-bottom: .4em;
    border-bottom: .1em solid $secondary-2;
    border-bottom-width: medium;
    text-decoration: solid;
}

.navbar-dark .navbar-nav>.nav-link:focus-visible,
.navbar-dark .navbar-nav .nav-link:focus-visible {
    box-shadow: none;
    border: none;
}

/*navbar-dark*/
.navbar-light .navbar-nav .btn-outline-secondary {
    color: $secondary-2;
    border-color: $secondary-2;
}

.navbar-light .navbar-nav .btn-check:focus+.btn-outline-secondary,
.navbar-light .navbar-nav .btn-outline-secondary:focus,
.navbar-light .navbar-nav .btn-check:hover+.btn-outline-secondary,
.navbar-light .navbar-nav .btn-outline-secondary:hover {
    color: $secondary;
}

.navbar-light .navbar-nav .navbar-nav .btn {
    color: $secondary-2;
    border-color: $secondary-2;
}

.navbar-light .navbar-nav .nav-link {
    color: $secondary-2;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    padding-bottom: .4em;
    border-bottom: .1em solid $primary;
    border-bottom-width: medium;
    text-decoration: solid;
}

.navbar-light .navbar-nav>.nav-link:focus-visible,
.navbar-light .navbar-nav .nav-link:focus-visible {
    box-shadow: none;
    border: none;
}

/*navbar-collapse*/

.navbar:has(.show) {
    padding-left: 30% !important;
    width: 70% !important;
}

.navbar .navbar-collapse.collapsing {
    display: none;
}

.navbar .navbar-collapse.collapse.show {
    text-align: center;
}

.navbar-collapse.collapse.show .nav-link,
.navbar-collapse.collapsing .nav-link {
    border: none;
}

.navbar-dark .navbar-collapse.collapse.show,
.navbar-dark .navbar-collapse.collapsing {
    background-color: $primary;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-dark .navbar-collapse.collapse.show .nav-link,
.navbar-dark .navbar-collapse.collapsing .nav-link {
    color: $secondary;
}

.navbar-light .navbar-collapse.collapse.show .nav-link,
.navbar-light .navbar-collapse.collapsing .nav-link {
    color: $primary;
}

.navbar-dark .navbar-collapse.collapse.show .nav-link.nav-link.active,
.navbar-light .navbar-collapse.collapse.show .nav-link.nav-link.active,
.navbar-dark .navbar-collapse.collapsing .nav-link.nav-link.active,
.navbar-light .navbar-collapse.collapsing .nav-link.nav-link.active {
    color: $secondary-2;
    padding-bottom: 0.5rem;
}

.navbar .navbar-collapse.collapse.show .btn,
.navbar .navbar-collapse.collapsing .btn {
    margin-top: 1vh;
    margin: 3% 8%;
    height: 4em;
}

.navbar-light .navbar-collapse.collapse.show .btn,
.navbar-light .navbar-collapse.collapsing .btn {
    color: $primary;
    border-color: $primary;
}

.navbar-light .navbar-collapse.collapse.show .btn:active,
.navbar-light .navbar-collapse.collapse.show .btn:focus,
.navbar-light .navbar-collapse.collapsing .btn:active,
.navbar-light .navbar-collapse.collapsing .btn:focus {
    color: $secondary;
    border-color: $secondary;
}

.navbar .btn-icon {
    background-color: transparent;
    border: none;
}

.navbar-dark .btn-icon {
    color: $secondary;
}

.navbar-light .btn-icon {
    color: $primary;
}

/*********************************************************************************
******************************* Inputs *******************************************
**********************************************************************************/

.form-control,
.form-control:focus {
    border-radius: 10px;
    background-color: transparent;
}

.form-control {
    background-color: transparent !important;
}

.bg-dark .form-control {
    border-color: $light  !important;
    color: $light  !important;
}

.bg-light .form-control {
    border-color: $dark  !important;
    color: $dark  !important;
}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
    padding: .5rem 1rem;
}

.form-floating>.form-control {
    padding: .5rem 1rem;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    transform: scale(0.85) translateY(-1rem) translateX(0.15rem) !important;
    opacity: 1 !important;
    padding: 0 .5em !important;
    height: 1.5em !important;
    margin-left: .5em !important;
}

.bg-dark .form-floating>.form-control:focus~label,
.bg-dark .form-floating>.form-control:not(:placeholder-shown)~label,
.bg-dark .form-floating>.form-select~label {
    background-color: $dark  !important;
}

.bg-light .form-floating>.form-control:focus~label,
.bg-light .form-floating>.form-control:not(:placeholder-shown)~label,
.bg-light .form-floating>.form-select~label {
    background-color: $light  !important;
}

/*********************************************************************************
******************************* footer *******************************************
**********************************************************************************/

footer .container {
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 0%;
    margin-right: 0%;
}

footer .footer-brand {
    font-weight: bold;
    font-size: 3rem;
}

footer strong {
    font-weight: bold;
    font-size: 1.2em;
}

footer .btn {
    height: 3em;
}

footer ul {
    text-align: start;
}

footer ul li {
    margin-top: .8vh;
}

footer ul li a {
    color: $secondary-2  !important;
    text-decoration: none;
    font-weight: bold;
}

footer .fa-2x {
    font-size: 1.8em;
}


/*********************************************************************************
******************************* pages *******************************************
**********************************************************************************/
.section-contacts {
    background-image: url('./images/contacts-bg.png');
    height: 100vh !important;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px !important;
}

.section-contacts h1 {
    font-weight: bold !important;
}

.section-blog {
    background-color: $dark;
    height: 100vh;
    max-width: 100%;
    text-align: center;
}

.section-blog .container {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    padding: 2vh;
}

.section-blog .container .card {
    min-width: 15rem;
    max-width: 15rem;
    max-height: 50vh;
    min-height: 50vh;
    border-radius: 8px;
    padding: 0;
    border: none;
    text-align: start;
}

.section-blog .container .card .card-title{
    color: $secondary-2;
    text-transform: capitalize;
    font-size: .8rem;
    font-weight: bold !important;
}

.section-blog .container .card .card-text{
    color: $primary-2;
    font-weight: bold !important;
}