@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$primary:       #010101;
$primary-2:     #5C0F8B;
$secondary:     #F1F1F1;
$secondary-2:   #FF4713;
$success:       #1A9926;
$info:          #30BCED;
$warning:       #FFDA6B;
$danger:        #FF375F;
$light:         #FFFFFF;
$dark:          #323232;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "secondary-2":  $secondary-2,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
); 


@import "../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: 'Montserrat' !important;
}

.btn-outline-secondary:hover{
    background-color: $secondary-2;
    border-color: $secondary-2;
    color: $light;
}

.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
    box-shadow: none;
    background-color: $secondary-2;
    border: none;
}

/*********************************************************************************
******************************* navbar *******************************************
**********************************************************************************/

.navbar.bg-dark {
    background-color: transparent !important;
}

.navbar-brand{
    font-weight: bold;
}

.navbar-nav .nav-link, .navbar-nav .btn{
    font-size: .7em;
    font-weight: bold;
    margin: auto 1em;
}

.navbar-dark .navbar-nav .nav-link{
    color: $secondary-2;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active{
    padding-bottom: .4em;
    border-bottom: .1em solid $secondary-2;
    border-bottom-width: medium;
    text-decoration: solid;
}

.navbar-dark .navbar-nav  > .nav-link:focus-visible, .navbar-dark .navbar-nav .nav-link:focus-visible{
    box-shadow: none;
    border: none;
}
/*navbar-dark*/
.navbar-light .navbar-nav .btn-outline-secondary {
    color: $secondary-2;
    border-color: $secondary-2;
}

.navbar-light .navbar-nav .btn-check:focus + .btn-outline-secondary, 
.navbar-light .navbar-nav .btn-outline-secondary:focus, 
.navbar-light .navbar-nav .btn-check:hover + .btn-outline-secondary, 
.navbar-light .navbar-nav .btn-outline-secondary:hover{
    color: $secondary;
}

.navbar-light .navbar-nav .navbar-nav .btn{
    color: $secondary-2;
    border-color: $secondary-2;
}

.navbar-light .navbar-nav .nav-link{
    color: $secondary-2;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active{
    padding-bottom: .4em;
    border-bottom: .1em solid $primary;
    border-bottom-width: medium;
    text-decoration: solid;
}

.navbar-light .navbar-nav  > .nav-link:focus-visible, .navbar-light .navbar-nav .nav-link:focus-visible{
    box-shadow: none;
    border: none;
}

/*********************************************************************************
******************************* pg1 *******************************************
**********************************************************************************/
.pg1 {
    background-image: url('./images/bg1.png');
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pg2 {
    background-color: #F1F1F1;
    height: 100vh;
}